.principal-code-verification {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.code-verification {
    width: 520px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.code-verification h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.code-verification form {
    font-size: 16px;
}

.code-verification form .form-group {
    margin-bottom: 12px;
}

.code-verification form input[type="submit"] {
    font-size: 18px;
    margin-top: 10px;
    background-color: #4763E4;
    margin-bottom: 0px;
}

img {
    width: 500px;
    padding-right: 22px;
}

.form-check {
    padding-top: 0%;
}

.form-check-label{
    font-size: medium;
    width: 259px;
}
